<div class="row">
    <div class="col-md-12 mt-3 mb-2 text-right">
      <span><i class="fa fa-user"> Logged as:</i> {{ userlogged.fullname }} </span>
      <br>
      <span><i class="fa fa-adn"> your role is: </i> {{ userlogged.role }} </span>
    </div>
</div>
<div class="jumbotron mt3 mx-auto">
    <hr class="my-4">
    <h1 class="display-5"><i class="fa fa-user-circle-o"></i> Add / Edit User </h1>
    <p class="lead"><i class="fa fa-info-circle"></i> In this page only SUPERUSER & Administrator Role can Add/Edit User Data.</p>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-header"><i class="fa fa-plus-circle"></i> Add/Edit New User</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" name="fullname" id="fullname" class="form-control" [(ngModel)]="user.fullname" placeholder="fullname" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" [(ngModel)]="user.username" placeholder="username" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" (click)="showModal=true" data-toggle="modal" data-target="#mymodal"><i class="fa fa-code"></i> Set / Edit Password</button>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="user.email" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Load Image</label>
                            <input type="url" name="image" id="image" class="form-control" [(ngModel)]="user.image" placeholder="load image" required>
                        </div>
                        <div class="form-group">
                            <label for="role">User Role</label>
                            <select name="role" id="role" class="form-control" [(ngModel)]="user.role" required>
                              <option [ngValue]=null disabled> -- Choose UserRole -- </option>
                              <option [ngValue]="role" *ngFor="let role of listRoles"> {{role.role}} </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select name="country" id="country" class="form-control" [(ngModel)]="user.country" required>
                                <option [ngValue]=null disabled> -- Choose User Origin Country -- </option>
                                <option [ngValue]="country" *ngFor="let country of listCountries"> {{country.country}} </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" rows="2" class="form-control" [(ngModel)]="user.description" placeholder="type a little description"></textarea>
                        </div>                    
                            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="edit ? updateUser(): saveNewUser()"><i class="fa fa-plus-circle"></i>  Add/Edit New User <i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" routerLink="/dashboard"><i class="fa fa-pencil"></i>  Cancel Edit/Add <i class="fa fa-close"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card-header"><i class="fa fa-address-card" aria-hidden="true"></i> User Id Card</div>
            <div class="card card-body text-left">
                <img [src]="user.image == '' ? 'assets/img/usuario-hombre.png' : user.image" class="card-img-top">
                <hr>
                <h4> <span>Full Name: </span> {{ user.fullname == '' ? 'Full Name' : user.fullname }} </h4>
                <p> <span>Username: </span> {{ user.id }} - {{ user.username == '' ? 'Username' : user.username }} </p>
                <p> <span>Email: </span> {{ user.email == '' ? 'Email' : user.email }} </p>
                <p> <span>Role: </span> {{ user.role == '' ? 'User Role' : user.role }} </p>
                <p> <span>Country: </span> {{ user.country == '' ? 'Country' : user.country }} </p>
                <p> <span>Description: </span> {{ user.description == '' ? 'Description' : user.description }} </p>
                <p> <span>Creation Date: </span> {{ user.created_at | date: 'yyyy-MM-dd' }} </p>
                <hr>
            </div>
        </div>

        <div class="modal" id="mymodal" [ngClass]="{'show': showModal}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Set User Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="repassword">ReType Password</label>
                        <input type="password" name="repassword" id="repassword" class="form-control" placeholder="re-type password">
                    </div>
                    <hr class="my4">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="setNewPassword()" ><i class="fa fa-user-secret"></i> Set New Password</button>
                    <button class="btn btn-secondary btn-block btn-lg" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                  </form>
                </div>               
              </div>
            </div>
        </div>

    </div>
    <hr class="my-4">    
</div>

